.notebook-topbar {
	background-color:  var(--notebook-bg-color);
	position: sticky;
	top: 1.5rem;
	z-index: 2;
}

.notebook-header {
	max-width: 800px;
	
}

.notebook-title {
	font-family: 'Satisfy';
	margin-top: 2%;
	margin-left: 1rem;
	font-size: xx-large;
	color: var(--notebook-contrast-color);
}



mat-icon {
	font-size: medium;
	style: regular;
}

