.notebook-lesson {
}


.notebook-topbar {
	background-color:  var(--notebook-bg-color);
	position: sticky;
	top: 0;
	z-index: 2;
}

.notebook-header {
}

.notebook-title {
	font-family: 'Satisfy';
	margin-top: 2%;
	margin-left: 1rem;
	font-size: xx-large;
	color: var(--notebook-contrast-color);
}



mat-icon {
	font-size: medium;
	style: regular;
}

.notebook-topbar {
	background-color:  var(--notebook-bg-color);
	position: sticky;
	top: 0px;
	z-index: 6;
}

.notebook-header {
	
}

.notebook-title {
	font-family: 'Satisfy';
	margin-top: 2%;
	margin-left: 1rem;
	font-size: xx-large;
	color: var(--notebook-contrast-color);
}


mat-icon {
	font-size: medium;
	style: regular;
	color: var(--notebook-contrast-color);
}
