div.prodname {
#	font-family: 'Arial';
	font-size: small;
	color: grey;
}



h1 {
	font-family: 'Satisfy';
	margin-top: 2%;
}

mat-icon {
	font-size: medium;
	style: regular;
}
mat-card {
	margin-left: 1rem;
	margin-bottom: 0.5rem;
	max-width: 800px;
	background-color: #ffffff88; 
}



mat-card-title {
	#font-weight: bold;
}

mat-card-subtitle {
	font-size: smaller;
}

mat-card-content {
	line-height: 1.5;
	font-size: medium;
}


