.notebook-theme {
	--notebook-bg-color:  DarkSlateGray;
	--notebook-contrast-color: NavajoWhite;
	--notebook-secondary-color: Tomato;
}

.lectio-theme {
	--lectio-dark-text: black;
	--lectio-light-text: lightskyblue;
	--lectio-color-main: tomato;
	--lectio-color-contrast: midnightblue;
}

.lectio-view {
	--view-card-max-width: 40rem;
	--view-notebook-max-width: 60rem;
}