div.prodname {
	font-size: small;
	color: var(--lectio-light-text);
	margin-left: 1rem;
	padding-top: 0.5rem;
	
}



.notebook-topbar {
	background-color:  var(--notebook-bg-color);
	position: sticky;
	top: 0rem;
	z-index: 5;
	width: 100%;
	
}

.notebook-title {
	font-size: large;
	font-family: Arial;
	font-weight: bold;
	margin-right: 2rem;
	color: var(--notebook-contrast-color);
}


.topic-history-header {
	color: var(--notebook-contrast-color);
	max-width: 800px;
}

.topic-history {
	height: 100%;
	padding-bottom: 1rem;
}


.topicname {
	text-align: left;
	font-size: large;
	font-family: Arial;
}



div.lessonlist {
	padding-top: 20px;
	margin-left: 0;
	padding-left: 20px;
	max-width: 400px;
	z-index:4;
	
}

.lessonbox {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	max-width: 800px;
	background-color: #ffffffee; 
	
}

div.lessondate {
	color: gray;
	font-size: small;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.lessoncontent {
	margin-top: 0px;
	padding-top: 0px;
	font-size: large;
	line-height: 1.5;
}

mat-divider {
	margin-top: 10px;
	margin-bottom: 10px;
}

.loadButtonContainer {
		max-width: 800px;
		color: var(--notebook-contrast-color);
	
}
