.topic-history-header {
	color: var(--notebook-contrast-color);
	position: sticky;
	top: 5rem;
	z-index: 5;
	background-color:  var(--notebook-bg-color);
}

.topic-history {
	height: 100%;
	padding-bottom: 1rem;
}

.topicname {
	text-align: center;
	font-size: large;
	font-weight: bold;
	top: 0px;
	z-index: 50;
	font-family: Arial;
}



div.lessonlist {
	padding-top: 20px;
	margin-left: 0;
	padding-left: 20px;
	max-width: 400px;
	z-index:4;
	
}

.lessonbox {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	max-width: 800px;
	background-color: #ffffffee; 
	
}

div.lessondate {
	color: gray;
	font-size: small;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.lessoncontent {
	margin-top: 0px;
	padding-top: 0px;
	font-size: large;
	line-height: 1.5;
}

mat-divider {
	margin-top: 10px;
	margin-bottom: 10px;
}

