.lesson-editor {
	
}

mat-icon.lesson-action{
	font-size: xx-large;
	color: gray;
}
mat-card {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	max-width: 800px;
	background-color: #ffffffee; 
}


mat-card-title {
	#font-weight: bold;
}

mat-card-subtitle {
	font-size: smaller;
}

mat-card-content {
	line-height: 1.5;
	font-size: medium;
}




.lesson-editor {
	margin-bottom: 5px;
}

.topicname {
	font-size: large;
}

div.lesson-note-date {
	font-size:  small;
	font-color: red;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.editsection {
	vertical-align: top;
	margin-bottom: 10px;
}

.editarea {
	background: #ffffffff;
	margin-top: 0px;
	padding: 3px;
	line-height: 1.5;
	font-size: medium;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
}
.card-header {
	padding-bottom: 5px;
}

.lastlessoncontent {
	margin-top: 0px;
	padding-top: 0px;
	padding-left:0px;
	line-height: 1.5;
	font-size: medium;
}

