<h2 mat-dialog-title>New Topic</h2>
<label *ngIf="data.preError">{{data.preError}}</label>
<mat-dialog-content [formGroup]="form">
	<mat-form-field>
		<input matInput #newTopicNameInput placeholder="New Topic Name"
			formControlName="topicName" (keyup.enter)="onEnter(newTopicNameInput.value)"/>
	</mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
	<button class="mat-button" (click)="close()">Cancel</button>
	<button class="mat-button" (click)="createTopic()">Create Topic</button>
</mat-dialog-actions>
