<mat-card class="lesson-editor" fxLayout="column">
	<div class="card-header" >
		<mat-card-title class="topicname" fxFlex>{{topic.name}}</mat-card-title>
	</div>
	
	<mat-card-content>
	<div class="editsection" *ngIf="editingLesson">
		<div class="lesson-heading" fxLayout="row" fxFill fxLayoutAlign=" end">
			<div class="lesson-note-date" *ngIf="editingLesson.date">
				{{editingLesson.date | arrayToDate | date}}
			</div>
		</div>
		<div class="lesson-note-date" *ngIf="!editingLesson.date">
			<span>Today</span>
		</div>
		<div class="editarea" [froalaEditor]="froalaOptions" [(froalaModel)]="editingContent" ></div>
	</div>
	<div *ngIf="isStaticLessonVisible && lastLesson" fxLayout="column">
		<div class="lesson-heading" fxLayout="row" fxFill fxLayoutAlign=" end">
			<div  class="lesson-note-date" *ngIf="lastLesson.date" fxFlex>
				{{lastLesson.date | arrayToDate | date}}
			</div>
			<button mat-icon-button *ngIf="editingLesson" fxFlex="nogrow" matToolTip="Hide last lesson" (click)="collapseButtonClicked();"
			    aria-label="Hide this lesson">
				<mat-icon fontSet="fa" fontIcon="fa-minus"  aria-hidden="true"></mat-icon>
			</button>
		</div>
		<div class="lastlessoncontent"
			[innerHTML]="lastLesson.content" fxFlexAlign="baseline">
		</div>
	</div>
	<div *ngIf="!isStaticLessonVisible && lastLesson" fxLayout="column" >
		<div class="lesson-heading" fxLayout="row" fxFill >
			<div  class="lesson-note-date" fxFlex>
			</div>
			<button mat-icon-button *ngIf="editingLesson" fxFlex="8" matToolTip="Show last lesson" (click)="expandButtonClicked();"
			    aria-label="Hide this lesson">
				<mat-icon fontSet="fa" fontIcon="fa-plus"  aria-hidden="true" fxFlexAlign=" baseline"></mat-icon>
			</button>
		</div>
	</div> 
	</mat-card-content>
	<mat-card-footer fxLayout="row" fxLayoutAlign="end">
		<button mat-icon-button *ngIf="!editingLesson && role == 'teacher'"  matToolTip="New Note" (click)="editButtonClicked();">
			<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
		</button>
		<button mat-icon-button (click)="historyButtonClicked();" mat-tool-tip="Show History">
			<mat-icon fontSet="fa" fontIcon="fa-history"></mat-icon>
		</button>
	</mat-card-footer>
</mat-card>
