<div class="loginpage" fxLayout="column" fxLayoutAlign="center center">
  
	<div class="loginbox lectio-theme lectio-view" fxLayout="column" fxLayoutAlign="start center">
	
		<div class="productname lectio-theme lectio-view">Lectio</div>
		<div class="loginword lectio-theme lectio-view">Log In</div>
		
		<form #loginForm="ngForm" fxLayout="column" fxLayoutAlign="start center">
			<mat-form-field class="emailrow loginrow lectio-theme lectio-view">
				<label class="form-control emaillabel loginlabel lectio-theme lectio-view">Email</label>
				<input matInput 
					id="emailInput" 
					[(ngModel)]="email" 
					name="emailInput" 
					#emailInput="ngModel" 
					required 
					email
					class="emailfield loginfield lectio-theme" 
					type="email"
					/>
			</mat-form-field>
			<mat-form-field class="passwordrow loginrow lectio-theme lectio-view">
				<span class="passwordlabel loginlabel lectio-theme lectio-view">Password</span>
				<input matInput 
					id="passwordInput" 
					[(ngModel)]="password" 
					name="passwordInput"
					#passwordInput="ngModel"
					required 
					class="passwordfield loginfield lectio-theme lectio-view" 
					type="password"/>
			</mat-form-field>
			<button mat-button class="loginbutton lectio-theme lectio-view"
				(click)="login()"
				[disabled]="!loginForm.form.valid "
				>
				Log In
			</button>
		</form>
	</div>

</div>
