.loginpage {
	background-image: url('/assets/login-backgrounds/pencil_1280.png');
	background-size: cover;
	width: 100%;
	height: 100vh;
	
}

.loginbox {
	width:  25rem;
	height: 20rem;
	background-color: white;
	
	border-width: 3px;
	border-color:  var(--lectio-color-main);
	border-style: solid;
	border-radius: 2rem;
	
}

.productname {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	
	font-family: Satisfy;
	font-size: small;
	color:  var(--lectio-color-main);


}

.loginword {
	font-family: Roboto;
	font-size: large;
}

.loginrow {
	width: 100%;
	min-width: 18rem;
}
.loginfield {
	margin-top: 0.75rem;
	width: 100%;
}


.loginbutton {
	background-color: var(--lectio-color-main);
}