<div class="loginpage" fxLayout="column" fxLayoutAlign="center center">
  
	<div class="loginbox lectio-theme" fxLayout="column" fxLayoutAlign="start center">
	
		<div class="productname lectio-theme">Lectio</div>
		<div class="loginword lectio-theme">Log In</div>
		<mat-form-field class="emailrow loginrow lectio-theme">
			<span class="emaillabel loginlabel lectio-theme">Email</span>
			<input matInput class="emailfield loginfield lectio-theme" type="email"/>
		</mat-form-field>
		<mat-form-field class="passwordrow loginrow lectio-theme">
			<span class="passwordlabel loginlabel lectio-theme">Password</span>
			<input matInput class="passwordfield loginfield lectio-theme" type="password"/>
		</mat-form-field>
	</div>

</div>
